<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie - Służba liturgiczna Maków</title>
    <link rel="stylesheet" href="../static/CSS/panel.css">

</head>

<body>
<div class="center">
    <h1>Logowanie</h1>


    <form method="post" action="login.php">
        <div class="txt_field">
            <input type="text" required name="login">
            <span></span>
            <label>Nazwa użytkownika</label>
        </div>
        <div class="txt_field">
            <input type="password" required name="password">
            <span></span>
            <label>Hasło</label>
        </div>
        <div class="pass">Zapomniałeś hasła?</div>
        <input type="submit" value="Zaloguj się">
        <div class="signup_link">
        </div>
    </form>
</div>

</body>

</html>
